.logIn{
    position: absolute;
    width: 270px;
    height: 280px;
    left: 438px;
    top: 100px;
    
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
}

.submitButton{
    border: none;
    width: 250px;
    height: 35px;
}
